@import url('./layout/normalize.css');
@import url('./layout/base.css');
@import url('../../block/header.css');
@import url('../block/logo.css');
@import url('../block/nav.css');
@import url('../block/phone.css');
@import url('../block/intro.css');
@import url('../block/tours.css');
@import url('../block/news.css');
@import url('../block/paginator.css');
@import url('../block/info.css');
@import url('../block/footer.css');
@import url('../block/social.css');
@import url('../block/breadcrumbs.css');
@import url('../block/content.css');
@import url('../block/partners.css');
