body {
  font-family: 'Open Sans',Helvetica, sans-serif;
  font: 16px;
  line-height:1.42;
  background:#001821;
  color:#fff;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin: 0 auto;
  
}

.main-page--wrapper{
  background:url(../img/1.png) center  top  no-repeat, url(../img/2.png) right bottom 158px no-repeat;
 position: relative; 

}


.container{
  margin:0 auto;
  width: 1141px;
}
a{
  color:inherit;
}




ul{
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
}

h1, h2, h3{
  margin: 0;
  font-weight: normal;
}

* {
box-sizing: border-box;
}


.header{
  height: 118px;
  position: relative;
  margin-bottom: 79px;
}

.logo{
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
  
  

}

.nav{
  position: absolute;
  top: 39px;
  left: 164px;
}


.nav__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
}

.nav__item:last-child{
  margin-right: 0;
}

.nav__link{
  font-size: 14px;
  text-decoration: none;
}

.phone{
  position: absolute;
  display: inline-block;
  top:27px;
  right: 0;
  font-style: normal;
  text-align: right;

}

.phone__contact{
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 2px;
 

  
}

.workhours{
  position: absolute;
  top:26px;
  left:92px;
 
}



.workhours__info{
  font-size: 13px;
  text-decoration: underline;
  
 
}

.intro{
  width: 520px;
  height: 340px;
  margin-bottom: 237px;
}

.intro__title-heading{
  font-size: 72px;
  margin-bottom: 27px;
  line-height: 1.35;
  font-weight: bold;
 
}

.intro__text-subtit{
  font-size: 18px;
  margin-bottom: 46px;
}

.intro__btn-link{
  background:#F5170E;
  border-radius: 35px;
  font-size: 14px;
  padding: 18px 40px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}


.tours{
  margin-bottom: 127px;
}

.tours__header{
 margin-bottom: 50px;
}

.tours__header-title{
  font-size: 36px;
  font-weight: bold;
  display: inline;
  padding-right: 11px;
 
  
}

.tours__item{
  min-height: 449px;
  background:#fff;
  border-radius:4px;
  display: inline-block;
  color:#303030;
  border-radius: 5px 5px;
  margin-right: 23px;

}

.tours__item:last-child{
  margin-right: 0;
}




.tours__title{
  padding: 27px 198px 21px 22px;
  font-size: 24px;
  color: #000000;
  font-weight: bold;
}

.tours__title:last-child{
  margin-right: 0;
}

.tours__suggestions{
  display: inline;
  width: 200px;
  
}

.tours__days{
  display: inline-block;
  padding-right:116px ;
  padding-left: 28px;
  color: #666666;
  font-size: 16px;
  
}

.tours__breakfasts{
  display: inline-block;
  color: #666666;
  font-size: 16px;
}

.tours__ico{
  padding-right: 10px;
}


.tours__text{
  position: absolute;
  display: inline;

}

.tours__info-text{
  color:#303030;
  padding: 4px 2px 1px 22px;
  font-size: 14px;
}



.tours__button-block{
  background:#fff;
  border-radius: 35px;
  font-size: 14px;
  padding: 18px 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #F5170E;
  border: 1px solid;
}

.tours__button{
  margin: 42px 22px;
}

.tours__button-block:hover{
  background:#F5170E;
  border-radius: 35px;
  font-size: 14px;
  padding: 18px 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 0px solid;

}

.news__stock-info{
  font-size: 36px;
  font-weight: bold;
}

.news__stock{
  margin-bottom: 51px;
}



.news__item{
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  margin-right: 21px;
}

.news__item:last-child{
  margin-right: 0;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__main{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding:25px 30px;
  min-height:140px;
}

.news__main-date{
  font-size: 14px;
  margin-bottom: 14px;
}

.news__main-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3px;
}



.news__list{
  margin-bottom: 44px;
}


.paginator{
  text-align: center;
  margin-bottom: 146px;
}

.paginator__display,.paginator__list{
  display: inline;
  vertical-align: middle;
}

.paginator__display{
  margin-bottom: 154px;
  margin-left: 20px;


}

.paginator__list{
  display: inline-block;
  vertical-align: middle;
  margin-left: 26px
}

.paginator__item{
  display: inline-block;
  vertical-align: middle;
  
}

.paginator__link{
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}
.paginator__link:hover{
  color:#F5170E ;
  background:#fff;

}


.info__photo{
  position: relative; 
 z-index: 1;
  
}

.info__photo-text{
  position: absolute;
  top: 0;
   left: 0;
   z-index: -100;
}


.info__block{
  margin-top: -414px;
  margin-left: 354px;
  width: 785px;
  height: 455px;
  
  
}


.info__title-us{
  font-weight: bold;
  font-size: 36px;
  color:#000;
  margin-bottom: 37px;
  padding: 69px 75px 0px 81px;
}

.info__text{
  margin-bottom: 61px;
  color:#060606;
  padding-left: 80px;
  
}




.info__text p{
  margin-bottom: 20px;
  line-height: 1.67;
}
.info__text p:last-child{
  margin-bottom: 0;
}

.info__photo-two{
  margin-left: 355px;
  margin-top:-410px;
}



.info__btn-us{
background:#F5170E;
  border-radius: 35px;
  font-size: 14px;
  padding: 18px 40px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 80px;
  }

  .info:after{
    content:"";
    display: block;
    width:1141px;
    height: 1px;
    background-color: #fff;
    margin-top: 55px;
    opacity: 0.1;
  }

  .footer{
    position: relative;
    height: 121px;
    margin-top: 18px;
    
  }

  


  

  .social{
    
    position: absolute;
    top: 31px;
    right: 252px;
  }

  .social__list{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
   
  }
  .social__list:last-child{
    margin-right: 0;
  }

  .social__link{
    display: block;
    text-decoration: none;
    width:36px;
    height: 36px;
    background:center center no-repeat;
  }

  .social__list--icon--telegram{
    background-image: url("../img/telegram.png");
  }

  .social__list--icon--vk{
    background-image: url("../img/vk.png");
  }

  .social__list--icon--facebook{
    background-image: url("../img/f.png");
  }

  .social__list--icon--instagram{
    background-image: url("../img/in.png");
  }



  .phone__text{
    color: #9A9A9A;
    font-size: 11px;
  }