.banner{
  background-image: url("../img/Rectangle.png");
  background-size: cover;
  min-height: 363px;
}

.banner__title{
  font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    color: #fff;
    padding-right: 78px;
  }

.banner__image{
  position: relative;
  padding-top: 21px;
}

.container__banner{
  display: flex;
  align-items: center;
}
