.breadcrumbs{
  color: #9A9A9A;
  font-size: 14px;
  margin-top: 97px;
}

.breadcrumbs__link--active{
  font-weight: bold;
}

.breadcrumbs__item{
  display: inline-flex;
}

.breadcrumbs__item:after{
  content:"/";
  margin-left: 8px;
}

.breadcrumbs__item:last-child:after{
  display: none;
}