.content{
  margin-top: 98px;
}

.content__list{
  display:flex;
  flex-direction: column;
  margin-bottom: 59px;
}

.content__item{
  display:flex;
  margin-bottom: 42px;
}

.content__item:last-child{
  margin:0;
}

.content__blog{
  margin-left:58px;
}

.content__blog-title{
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 1px;
  color: #000;
}

.content__blog-heading{
  margin: 13px auto;
}

.content__blog-description{
  color:#303030;
  padding-top: 2px;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 1.67;
}

.content__blog-link{
  background:#fff;
  border-radius: 35px;
  font-size: 14px;
  padding: 19px 38px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #F5170E;
  border: 1px solid;
}

.content__blog-link:hover{
  background:#F5170E;
  border-radius: 35px;
  font-size: 14px;
  padding: 19px 38px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 0px solid;
  transition: 1s;
}