.forms{
  background: #F4F5F5;
}

.forms__title{
  color: #1A1B1E;
  font-size: 48px;
  line-height: 65px;
  font-weight: 700;
  padding-top: 63px;
    letter-spacing: 1.5px;
    padding-bottom: 60px;
}

.form{
  margin-bottom: 23px;
}

.form__form{
  display: flex;  
  flex-wrap: wrap;
}

.form__form-text{
  min-width: 556px;
    min-height: 65px;
    border-radius: 5px;
    background: #fff;
    margin-right: 28px;
    padding: 20px 30px;
    font-size: 18px;
    margin-bottom: 26px;
    border: 1px solid #fff;
}

.form__form-text:nth-child(2){
  min-width: 556px;
  min-height: 65px;
  border-radius: 5px;
  background: #fff;
  border: 0;
  margin-right: 0px;
  padding: 20px 30px;
}

.form__form-textarea{
  min-width: 1140px;
    min-height: 235px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 30px;
}

.comment{
    display: flex;
    letter-spacing: 1px;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 21px;
}

.comment__text{
  font-size: 18px;
    color: #1A1B1E;
    margin: 0;
    padding-right: 80px;
    width: auto;
    white-space: nowrap;
}

.comment__choise-list{
  display: flex;
  flex-wrap:wrap;
}

.comment__choise-item{
  background: #E7E7E7;
    border-radius: 35px;
    padding: 10px 15px;
    margin: 4px;
    font-size: 13px;
    color: #303030;

}


.comment__choise-list input{
  display: none;
}

.comment__choise-list input:checked ~ .comment__choise-item{
  background: #B9EAE4;
}

.form__btn{
  display: flex;
  justify-content: flex-end;
}

.form__btn button{
  margin-bottom: 96px;
  border: none;
}

.form__btn--style{
  font-size: 14px;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 44px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
}

.form__btn--style{
  font-size: 14px;
  background: #2B2B2B;
  border-radius: 35px;
  padding: 18px 44px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
}


.form__btn-reset{
  margin-right: 18px;
  background: #8E8E8E;
}


.form__btn-sbt{
  font-size: 14px;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
}

.form__btn-sbt:hover{
  font-size: 14px;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
}
