.nav{
  display: flex;
  align-items: center;
  margin-left: 73px;
}

.nav__item{
  display: inline-flex;
  margin-right: 51px;
}

.nav__item:last-child{
  margin-right: 0;
}

.nav__link{
  font-size: 14px;
  text-decoration: none;
}

.nav{
  flex:2;
}