.paginator{
  text-align: center;
  margin-bottom: 148px;
}

.paginator__display,.paginator__list{
  display: inline-flex;
}
.paginator__display--service{
  margin-left: 30px;
}


.paginator__list{
  display: inline-flex;
  margin-left: 26px
}

.paginator__item{
  display: flex;
}

.paginator__link{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.paginator__link:hover{
  color:#F5170E ;
  background:#fff;
  transition: 1s;
}

.paginator--service{
  margin-bottom: 84px;
  color: #000;
}

.paginator__link--hover:hover{
  color: #FFFFFF;
  background: #F5170E;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
  transition: 1s;
}