.phone{
  display: flex;
  font-style: normal;
  justify-content: center;
  flex-direction:column;
  align-items:flex-end;
}

.phone__contact{
  text-decoration: none;
  font-size: 26px;
}

.workhours{
  display: flex;
}

.workhours__info{
  font-size: 13px;
  text-decoration: underline;
}

.phone__text{
  color: #9A9A9A;
  font-size: 11px;
}

.workhours{
  position: relative;
  display: inline-block;
  color: #98A4A8;
  margin-top: -10px;
}

.workhours:hover{
  color:#fff;
}

.workhours:hover .workhours__menu{
 height: 68px;
  left: -62px;
  width: 157px;
  opacity: 1;
}

.workhours__menu{
  position: absolute;
  background: #EDEDED;
  top: 100%;
  color: #1E1F20;
  font-size: 13px;
  left:-99999px;
  border-radius: 5px;
  padding: 13px 17px;
  margin-top: 5px;
  opacity: 0;
  transition: opacity .4s;
}

.workhours__menu:before{
  content: "";
  display: block;
  height: 30px;
  left: 0;
  right: 0;
  top: -29px;
  position: absolute;
}

.workhours__menu{
  font-weight: bold;
}

.workhours__menu-item{
  padding-bottom: 4px;
}

.workhours__menu-item:last-child{
  padding-bottom: 0;
}

.workhours__figure{
  border: 10px solid transparent;
  width: 0px;
  height: 0px;
  border-bottom-color: #EDEDED;
  border-top-width: 0;
  position: absolute;
  right: 43px;
  top: -10px;
}


