.reviews__list{
  column-count: 2;
  column-gap: 27px;
}

.reviews__item{
  background: #F4F5F5;
  border-radius: 5px;
  display: inline-flex;
  max-width: 557px;
  flex-direction: column;
  margin-bottom: 23px;
  padding: 50px 31px 23px 32px;
}

.reviews__guest{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 30px;
  position: relative;
}

.reviews__avatar-pic{
  padding-right: 24px
}

.reviews__guest-name{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.reviews__name-user{
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  color: #1A1B1E;
  line-height: 2;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.reviews__name-user:after{
 content: "";
 background-image: url(../../img/vk-blue\ 1.png);
 width: 30px;
 height: 30px;
 margin-left: 9px;
}

.reviews__name-user:hover{
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  color: #2E77A4;
  padding-right: 8px;
  line-height: 2;
  letter-spacing: 1px;
  transition: .3s;
}

.reviews__name-ico{
  padding-right: 40px;
}

.reviews__name-place{
  color: #303030;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 18px;
    background: #B9EAE4;
    border-radius: 35px;
}



.reviews__content-title{
  color: #1A1B1E;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 1.38px;
}

.reviews__content p{
  color: #818181;
  font-size: 16px;
  line-height: 27px;
  padding-bottom: 48px;
  margin-bottom: 0;
}

.previews__content-time{
  color: #1A1B1E;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
}

.reviews{
  margin-top: 96px;
  margin-bottom: 114px;
}