.tours{
  margin-bottom: 127px;
}

.tours__header{
 margin-bottom: 50px;
 display: flex;
 align-items: center;
}

.tours__header-title{
  font-size: 36px;
  font-weight: bold;
  padding-right: 14px;
  
}

.tours__header-ico{
  height: 28px;
  width: 21px;
}

.tours__item{
  min-height: 449px;
  min-width: 362px;
  background:#fff;
  border-radius:4px;
  display:inline-flex;
  color:#303030;
  border-radius: 5px 5px;
  margin-right: 23px;
}

.tours__item:last-child{
  margin-right: 0;
}

.tours__title{
  padding: 27px 198px 16px 22px;
  font-size: 24px;
  color: #000000;
  font-weight: bold;
}

.tours__title:last-child{
  margin-right: 0;
}

.tours__suggestions{
 display: flex;
}

.tours__days{
  padding-left: 28px;
  color: #666666;
  font-size: 16px;
  margin-right: 24px;
}

.tours__breakfasts{
  
  color: #666666;
  font-size: 16px;
}

.tours__ico{
  padding-right: 7px;
}

.tours__info-text{
  color:#303030;
  padding: 4px 2px 1px 22px;
  font-size: 14px;
}

.tours__info{
  margin-top: 19px;
}

.tours__button-block{
  background:#fff;
  border-radius: 35px;
  font-size: 14px;
  padding: 18px 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #F5170E;
  border: 1px solid;
}

.tours__button{
  margin: 42px 22px;
}

.tours__button-block:hover{
  background:#F5170E;
  border-radius: 35px;
  font-size: 14px;
  padding: 18px 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 0px solid;
}